body {
  font-family: sans-serif;
  text-align: center; }

.login {
  margin-top: 200px; }
  .login #title {
    font-size: 70px;
    font-family: 'Monofett', cursive;
    color: tomato; }

#namebox {
  border: 1px solid black;
  border-radius: 4px;
  width: 160px;
  padding: 20px;
  font-size: 20px;
  overflow: none; }

#nav {
  display: flex;
  justify-content: space-between; }
  #nav .nav-title {
    margin: 10px 5px;
    font-size: 2rem;
    font-family: 'Monofett', cursive; }
  #nav .new-game-btn, #nav .howto-btn {
    width: 150px;
    height: 50px;
    margin: 0 2px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 14px; }

#howto-container {
  align-self: flex-start; }

#howto {
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1rem;
  margin-left: 10px; }
  #howto div {
    padding: 70px 30px; }

#input-div {
  width: 100%; }
  #input-div #game-input {
    font-size: 2.5rem;
    margin-top: 20px;
    width: 400px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px; }

#main {
  display: flex;
  justify-content: space-between; }
  #main .centrebox {
    width: 60%;
    height: 70vh;
    padding: 1%;
    border: .5px solid #999;
    background-color: #e6e8e5; }
    #main .centrebox .chart {
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      border: 1px solid #999;
      background-color: #f6fff6;
      overflow: hidden; }
      #main .centrebox .chart .scorediv {
        border-radius: 4px;
        align-items: flex-end;
        justify-content: center;
        color: white;
        overflow-wrap: break-word; }

#chartbox {
  width: 100%; }

#players-box, #used-box {
  width: 20%;
  height: 70vh;
  padding: 1%;
  border: .5px solid #999;
  background-color: #e6e8e5;
  overflow: scroll; }
  #players-box h1, #used-box h1 {
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

#used-box p {
  font-size: 1rem;
  color: #666;
  margin: 3px; }

#player {
  color: #666;
  display: flex;
  width: 95%;
  padding: 0 5px;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #f6fff6;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  overflow: scroll; }
  #player #score {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 3px; }
  #player #name {
    font-size: 1rem;
    margin: 3px;
    align-items: flex-end; }

#box0 {
  background-color: tomato; }

#box1 {
  background-color: gold; }

#box2 {
  background-color: blue; }

#box3 {
  background-color: teal; }

#box4 {
  background-color: hotpink; }

#box5 {
  background-color: lightblue; }

#winnerbox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 70vh; }
  #winnerbox #winner {
    width: 50%;
    padding: 10% 0;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 2rem; }
    #winnerbox #winner button {
      width: 150px;
      height: 50px;
      margin: 0 2px;
      border: none;
      background-color: white;
      color: #333;
      font-size: 14px; }
